.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.git-logo {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.git-logo:hover {
  cursor: pointer;
}

h4 {
  text-align: left;
  display: inline-block;
  margin-bottom: 0 !important;
}
