.main-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #d3d3d3;
  background-color: #d3d3d3;
  border-radius: 20px;
  padding: 30px;
}

.loader {
  color: #565656;
}

.accordion {
  margin-top: 5px;
}
